<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Direct ros2_control configuration without using a macro -->
  <ros2_control name="DiffBotHardware" type="system">
    <hardware>
      <plugin>my_bot/DiffBotSystemHardware</plugin>
      <param name="serial_port">/dev/ttyCH341USB0</param>
      <param name="baud_rate">57600</param>
      <param name="timeout_ms">1000</param>
      <param name="enc_ticks_per_rev">2830</param>
      <param name="wheel_radius">0.5</param>
      <param name="wheel_separation">0.35</param>
      <param name="loop_rate">30.0</param>
    </hardware>
    <joint name="left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-10</param>
        <param name="max">10</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find my_bot)/config/my_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
